@font-face {
    font-family: 'Source Code Medium';
    src: url('../fonts/SourceCodePro-Medium.ttf') format('truetype');
}

body {
    font-family: sans-serif;
}

nav {
    font-family: 'Source Code Medium';
    width: 90%;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 75px auto;
    font-size: 0;
    /* box-shadow: 2px 2px 4px #8b8b8b; */
    border: 2px solid #000000;
}

.logo {
    background-color: #FFFFFF;
    position: absolute;
    margin: -50px -20px;
    width: 90vw;
    max-width: 280px;
}

nav a {
    font-size: 1rem;
    display: block;
    padding: 25px;
    text-align: center;
    color: #FF4A4C;
    text-decoration: none;
}

nav a:hover {
    background-color: #FF4A4C;
    color: #FFFFFF;
}

.navbar-links {
    padding-top: 50px;
}

.content {
    height: 80vh;
    width: 90%;
    margin: 0 auto;
}

.title {
    font-family: 'Source Code Medium';
    font-size: 2rem;
}

article {
    border: 2px solid #000000;
    padding: 10px;
    box-sizing: border-box;
}

footer {
    margin: 50px auto 0 auto;
    text-align: center;
}

footer a {
    color: rgb(114, 114, 114);
    text-decoration: none;
}

@media(min-width: 1000px) {
    
    nav {
        width: 70%
    }

    nav a {
        display: inline-block;
    }

    .navbar-links {
        padding-top: 0;
        float: right;
    }

    .content {
        width: 70%;
    }

}